@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /* Changed font family to Lato */
    background-color: #34495e;
    /* Darker background color */
    overflow: hidden;
    /* Hide scrolling */
}

.lato-black {
    font-size: 48px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    color: white;
    letter-spacing: 1.4px;
}

.heading{
    text-shadow: 2px 2px 2px whitesmoke;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
}

.name{
    text-shadow: 2px 2px 2px rgb(155, 0, 239);
    color: #de0fbe;
    font-size: 26px;
    top: 1%;
    right: 2%;
}

button {
    padding: 20px 40px;
    background-color: #de0fbe;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    margin: 0 20px;
    transition: background-color 0.4s ease, transform 0.2s ease;
    font-size: 1.2em;
    width: 160px;
}

button:hover {
    background-color: #dd00ff;
    /* Darker shade on hover */
    box-shadow: -2px 2px 8px #9f07b4;
}

button:focus {
    outline: none;
    box-shadow: 2px 2px 1px #460050;
}

#flipMe {
    position: absolute;
    width: 300px;
    top: 4%;
}

.flashcard-container {
    margin: 0;
    padding: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flashcard {
    width: 60%;
    /* Use 90% for smaller screens */
    height: 80%;
    /* Adjust height to make it responsive */
    max-height: 400px;
    /* Optional: set a max height */
    background: transparent;
    /* Changed to white for contrast */
    /* Increased border radius */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.5s ease-in-out;
    /* Smoother transitions */
    cursor: pointer;
}

#sn {
    width: 60px;
    height: 36px;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    z-index: 5;
    top: -56px;
    right: 0;
    background-color: #ff4d00;
    padding: 10px;
    text-align: center;
}

.flashcard .front,
.flashcard .back {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    /* Increased padding */
    box-sizing: border-box;
    outline: none;
}

.flashcard .back {
    text-align: left;
    align-items: start;
    font-size: 26px;
}

.ext {
    font-weight: bold;
    color: violet;
    margin-right: 10px;
}

.flashcard .front {
    background-color: #187bbf;
    /* Changed front color */
    color: #ffffff;
    /* Font color for the front */
    border-radius: 20px 0px 20px 20px;
    /* Increased border radius */
}

.flashcard .back {
    background-color: #155430;
    /* Changed back color */
    color: #ffffff;
    /* Font color for the back */
    transform: rotateY(180deg);
    border-radius: 20px 0px 20px 20px;
    /* Increased border radius */
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.flashcard.flipped #sn {
    top: -56px;
    left: 0;
    transform: rotateY(180deg);
}

.controls {
    margin-top: 40px;
    /* Increased margin */
}


button:active {
    transform: scale(0.95);
}

.button-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-container button{
    width: 300px;
    margin-bottom: 20px;
}

#home{
    position: absolute;
    width: 70px;
    top: 20px;
    left: 51px;
    color: white;
}

@media (max-width: 768px) {
    .flashcard {
        width: 90%;
        /* Adjusted for smaller screens */
        height: 260px;
        /* Allow height to adjust based on content */
    }

    #sn {
        width: 40px;
        height: 30px;
        font-size: 25px;
        top: -50px;
    }

    .flashcard.flipped #sn {
        top: -50px;
    }

    .flashcard-container {
        display: block;
        text-align: center;
        padding: 0;
    }


    .flashcard .back {
        font-size: 21px;
        text-align: left;
        padding: 20px 15px;
        font-size: 18px;
    }

    .flashcard .front {
        font-size: 30px;
    }

    .flashcard {
        margin: 135px auto 0px auto;
    }

    #flipMe {
        margin-top: 80px;
        position: relative;
    }

    .controls {
        margin-top: 60px;
    }

    button {
        padding: 15px 20px;
        margin: 0 4%;
        font-size: 19px;
        width: 140px;
    }

    .button-container button{
        padding: 20px 40px;
        margin-bottom: 20px;
    }

    #home {
        left: 50%;
        transform: translateX(-50%);
    }   
}

